<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.example.demo.mapper.StoreMapper">
    <resultMap id="store" type="com.example.demo.pojo.Store">
        <id column="id"  property="id" />
        <result column="name"  property="name" />
        <result column="address" property="address" />
        <result column="wxAppId" property="wxAppId" />
        <result column="zfbAppId" property="zfbAppId" />
        <result column="user_id" property="user_id" />
        <result column="createTime"  property="createTime" />
        <result column="updateTime"  property="updateTime" />
        <result column="zfbPublickey" property="zfbPublickey" />
        <result column="zfbPrivatekey" property="zfbPrivatekey" />
        <result column="wxMachid" property="wxMachid" />
        <result column="wxKey" property="wxKey" />
        <result column="appsecret" property="appsecret"/>
        <result column="printername" property="printername"/>
        <result column="printerkey" property="printerkey"/>
        <result column="printernumber" property="printernumber"/>
    </resultMap>

    <select id="getListStoreByUserId" resultMap="store" parameterType="java.lang.String" >
		select * from store where user_id= #{id,jdbcType=VARCHAR}
	</select>

    <select id="getListStoreSelect" resultMap="store" parameterType="java.lang.String" >
		select * from store where user_id= #{id,jdbcType=VARCHAR}
	</select>

    <select id="getByStoreName" resultMap="store" parameterType="java.lang.String" >
		select * from store where id= #{storeId,jdbcType=VARCHAR}
	</select>

    <select id="getByStoreId" resultMap="store" parameterType="java.lang.String" >
        select s.id from store s
        LEFT JOIN user u ON u.id=s.user_id
        where u.id=#{id,jdbcType=VARCHAR}
    </select>



    <insert id="add" parameterType="java.util.Map">
        insert into store(name,address,wxAppId,zfbAppId,user_id,createTime,updateTime,zfbPublickey,zfbPrivatekey,wxMachid,wxKey,appsecret,
        printername,printerkey,printernumber) values (
        #{name,jdbcType=VARCHAR},
        #{address,jdbcType=VARCHAR},
        #{wxAppId,jdbcType=VARCHAR},
        #{zfbAppId,jdbcType=VARCHAR},
        #{user_id,jdbcType=VARCHAR},
        #{createTime,jdbcType=VARCHAR},
        #{updateTime,jdbcType=VARCHAR},
        #{zfbPublickey,jdbcType=VARCHAR},
        #{zfbPrivatekey,jdbcType=VARCHAR},
        #{wxMachid,jdbcType=VARCHAR},
        #{wxKey,jdbcType=VARCHAR},
        #{appsecret,jdbcType=VARCHAR},
        #{printername,jdbcType=VARCHAR},
        #{printerkey,jdbcType=VARCHAR},
        #{printernumber,jdbcType=VARCHAR}
        )
    </insert>

    <update id="editStore" parameterType="java.util.Map">
		update store set
		name=#{name,jdbcType=VARCHAR},
		address=#{address,jdbcType=VARCHAR},
		wxAppId=#{wxAppId,jdbcType=VARCHAR},
		zfbAppId=#{zfbAppId,jdbcType=VARCHAR},
		updateTime=#{updateTime,jdbcType=VARCHAR},
		zfbPublickey=#{zfbPublickey,jdbcType=VARCHAR},
		zfbPrivatekey=#{zfbPrivatekey,jdbcType=VARCHAR},
		wxMachid=#{wxMachid,jdbcType=VARCHAR},
		wxKey=#{wxKey,jdbcType=VARCHAR},
		appsecret=#{appsecret,jdbcType=VARCHAR},
		 printername=#{printername,jdbcType=VARCHAR},
        printerkey=#{printerkey,jdbcType=VARCHAR},
        printernumber=#{printernumber,jdbcType=VARCHAR}
		WHERE
		id=#{id,jdbcType=VARCHAR}
	</update>


    <delete id="del" parameterType="java.lang.Integer">
		delete from store
		where id= #{id,jdbcType=INTEGER}
	</delete>

    <select id="getcategory" resultType="java.util.Map" parameterType="java.lang.String" >
        select a.category_id,a.category_name,a.category_type from product_category a
        left join store b on a.store_id = b.id
        where
        a.store_id = #{storeId}
    </select>

</mapper>