<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.example.demo.mapper.UserMapper">
    <resultMap id="user" type="com.example.demo.pojo.User">
        <id column="id"  property="id" />
        <result column="name"  property="name" />
        <result column="password" property="password" />
        <result column="state"  property="state" />
        <result column="phone"  property="phone" />
        <result column="address"  property="address" />
        <result column="createTime"  property="createTime" />
        <result column="updateTime"  property="updateTime" />
        <result column="endTime"  property="endTime" />

    </resultMap>

    <select id="getListUser" resultMap="user" parameterType="java.lang.String" >
		select * from user a
        left join user_role b on  a.id = b.user_id
        where b.role_id = 2
	</select>

    <select id="getByName"  resultMap="user" parameterType="java.lang.String" >
		select * from user where name=#{name,jdbcType=VARCHAR}
	</select>

    <select id="loginUser"  resultMap="user" parameterType="java.util.Map">
		select * from user where name=#{name,jdbcType=VARCHAR}
		and password=#{password,jdbcType=VARCHAR}
		and state="0" and iscombo = "1"
	</select>

    <select id="getByState"  resultMap="user" parameterType="java.lang.String" >
		select state from user where id=#{id,jdbcType=VARCHAR}
	</select>

    <select id="getUserName" resultMap="user" parameterType="java.lang.String" >
        select * from user where id=#{id,jdbcType=VARCHAR}
    </select>

    <select id="getByUserId" resultMap="user" parameterType="java.lang.String" >
        select * from user where id=#{id,jdbcType=VARCHAR}
    </select>


    <insert id="add" parameterType="java.util.Map">
        insert into user(name,password,phone,address,createTime,updateTime) values (
        #{name,jdbcType=VARCHAR},
        #{password,jdbcType=VARCHAR},
        #{phone,jdbcType=VARCHAR},
        #{address,jdbcType=VARCHAR},
        #{createTime,jdbcType=VARCHAR},
        #{updateTime,jdbcType=VARCHAR}
        )
    </insert>

    <update id="setState" parameterType="java.util.Map">
		update user set
		state=#{state,jdbcType=VARCHAR}
		WHERE
		id=#{id,jdbcType=VARCHAR}
	</update>

    <update id="editUser" parameterType="java.util.Map">
		update user set
		name=#{name,jdbcType=VARCHAR},
		phone=#{phone,jdbcType=VARCHAR},
		address=#{address,jdbcType=VARCHAR},
		updateTime=#{updateTime,jdbcType=VARCHAR}
		WHERE
		id=#{id,jdbcType=VARCHAR}
	</update>


    <delete id="del" parameterType="java.lang.Integer">
		delete from user
		where id= #{id,jdbcType=INTEGER}
	</delete>

    <update id="editpassword" parameterType="java.util.Map">
        update user set
        password = #{new_password}
        where password = #{sh_password} and id = #{sh_id}
    </update>

    <update id="editiscombo" parameterType="java.util.Map">
        update user set
        iscombo = "1",
        endTime = if(endTime>now(),DATE_ADD(endTime,INTERVAL #{day} day),DATE_ADD(now(),INTERVAL #{day} day)),
        shopnumber = #{shopnumber}
        where `name` = #{username}
    </update>

    <update id="editMeans" parameterType="java.util.Map">
        update user set
        phone = #{phone2}
        where id = #{sh_id}
    </update>

    <select id="findbyPassword" resultMap="user" parameterType="java.util.Map">
        select * from `user`
        where id = #{sh_id,jdbcType=INTEGER} and `name` = #{sh_name,jdbcType=VARCHAR} and password = #{password,jdbcType=VARCHAR}
    </select>

    <update id="editPassword" parameterType="java.util.Map">
        update user set
        password = #{newpassword}
        where id = #{sh_id,jdbcType=INTEGER} and `name` = #{sh_name,jdbcType=VARCHAR} and password = #{password,jdbcType=VARCHAR}
    </update>

    <select id="findbyPhone" resultMap="user" parameterType="java.util.Map">
        select * from `user`
        where `name` = #{sh_name,jdbcType=VARCHAR} and phone = #{phone,jdbcType=VARCHAR}
    </select>

    <update id="ForgetPassword" parameterType="java.util.Map">
        update user set
        password = #{password}
        where `name` = #{sh_name,jdbcType=VARCHAR} and phone = #{phone,jdbcType=VARCHAR}
    </update>

    <select id="getStaffList" resultMap="user" parameterType="java.util.Map">
        select * from user a
        left join user_role b on a.id = b.user_id
        where b.role_id = 3
    </select>

    <insert id="addcombo" parameterType="java.util.Map">
        insert into user
        (`name`,password,state,address,createTime,updateTime,iscombo,endTime,shopnumber,occupation)
        values
        (#{comboname},#{password},'0',#{day},#{date},#{date},'1','2099-12-31 00:00:00','0',#{shopnumber})
    </insert>

    <update id="editcombo" parameterType="java.util.Map">
        update user set
        address = #{day},
        occupation = #{shopnumber}
        where id = #{id}
    </update>
</mapper>